<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.invest-alpha-os.weekly-candidate-brief</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__REPO_ROOT__/scripts/run_weekly_candidate_brief.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>7</integer>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>__LOG_DIR__/launchd_weekly_candidate_brief.out.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/launchd_weekly_candidate_brief.err.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>TZ</key>
    <string>Asia/Tokyo</string>
  </dict>
</dict>
</plist>
